html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 240, 243);
}

canvas {
  border: 10px black solid;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.589);
}
