html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 10px black solid;
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.589);
}
